/Saved/MaterialStatsDebug
/Saved/Screenshots
/Saved/Shaders
/Saved/SourceControl
/Saved/StagedBuilds
/Saved/Temp
/Saved/UnrealBuildTool
/Saved/Autosaves
/Saved/Collections
/Saved/Config
/Saved/Cooked
/Saved/Crashes
/Saved/Logs
/Saved/MaterialStats
/Config
/DerivedDataCache
/Intermediate
/Package
/Binaries
/Build
/Content/Developers
/Content/Font
/Content/FX
/Content/FXVarietyPack
/Content/Level
/Content/Material
/Content/Mesh
/Content/sA_PickupSet_1
/Content/Sound
/Content/StarterContent
/Content/Test
/Content/Texture
/Content/UI
/Content/__ExternalActors__
/Content/__ExternalObjects__
/Content/Blueprint
/Content/Character
/Content/Collections
/Source/Maya
/Source/Motionbuilder
/Source/SKMannequin_A_Pose
/Source/SKMannequin_T_Pose
/Source/SK_Mannequin_A_Pose_README.txt
/Source/SK_Mannequin_T_Pose_README.txt
/Source/UE4_MocapOnline_Tech_Notes.txt
/Source/FBX
/.vs
