*.ipch filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
Binaries/Win64/quickstart.exe filter=lfs diff=lfs merge=lfs -text
Binaries/Win64/quickstart.pdb filter=lfs diff=lfs merge=lfs -text
